html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

.loader1{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5rem;
}

.loader1 > div{
    border:5px solid red;
    width: 4rem;
    height: 4rem;
    border-top: 5px solid #f0eeeb;
    border-radius: 50%;
    animation: spinner 3s linear infinite;
    animation-direction: reverse;
}

@keyframes spinner{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}