html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}

.spacer{
    height: 128px
}

.loader1{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5rem;
}

.loader1 > div{
    border:5px solid red;
    width: 4rem;
    height: 4rem;
    border-top: 5px solid #f0eeeb;
    border-radius: 50%;
    animation: spinner1 3s linear infinite;
    animation-direction: reverse;
}

@keyframes spinner1{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.loader2{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5rem;
}

.loader2 > div{
    border:5px solid red;
    width: 4rem;
    height: 4rem;
    border-top: 5px solid #f0eeeb;
    border-bottom: 5px solid #f0eeeb;
    border-radius: 50%;
    animation: spinner2 3s linear infinite;
    animation-direction: alternate;

}

@keyframes spinner2{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.loader3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height:5rem;
}

.loader3 div{
    background-color: red;
    height: 100px;
    width: 30px;
}

.loader3 .first{
    animation: expander 0.8s linear infinite ;
    animation-delay: 0.4s;
}

.loader3 .second{
    animation: expander 0.8s linear infinite ;
    animation-delay: 0.6s;
}

.loader3 .third{
    animation: expander 0.8s linear infinite ;
    animation-delay: 0s;
}

@keyframes expander{
    0%{
        height: 100px;
    }
    50%{
        height: 150px;
    }
    100%{
        height: 100px;
    }
}

.loader4{
    display: flex;
    justify-content: center;
    align-items: center;
    height:5rem;
}

.loader4 > div{
    height: 1rem;
    width: 1rem;
    border: 5px solid gray;
    border-radius: 50%;
    animation: drop 2s linear infinite;
}

@keyframes drop{
    0%{
        height: 1rem;
        width: 1rem;
        border-color: grey;
        opacity: 1;
    }
    
    4.5%{
        height: 1rem;
        width: 1rem;
        border-color: grey;
        opacity: 0;       
    }

    5%{
        height: 1rem;
        width: 1rem;
        border-color: grey;
        opacity: 1;        
    }

    25%{
        height: 1.4rem;
        width: 1.4rem;
        border-color: #e8e6e3;
        opacity: 1;
    }
    35%{
        opacity: 0;
    }
    50%{
        height: 1.8rem;
        width: 1.8rem;
        border-color: #f7f6f5;
        opacity: 1;
    }

    65%{
        opacity: 0;
    }
    75%{
        height: 2.2rem;
        width: 2.2rem;
        border-color: #fcfbfa;
        opacity:1;
    }
    85%{
        opacity: 0;
    }
    100%{
        height: 1rem;
        width: 1rem;
        border-color: grey;
        opacity: 1;
    }
}

